<!-- begin #sidebar -->
<div id="sidebar" class="sidebar" ng-controller="sidebarController" ng-class="{ 'sidebar-transparent': setting.layout.pageSidebarTransparent }">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <div class="image">
                    <a href="javascript:;"><img src="assets/img/user-12.jpg" alt="" /></a>
                </div>
                <div class="info">
                    {{usuarios[0].usro_nombre}}
                    <small>{{usuarios[0].usro_comentarios}}</small>
                </div>
            </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">Navegación</li>
            <li class="has-sub" ng-class="{active:$state.includes('user.dashboard')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Dashboard</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="user.dashboard">Dashboard Principal</a></li>
                </ul>
            </li>

            <li class="has-sub" ng-class="{active:$state.includes('user.estf')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-suitcase"></i>
                    <span>Estufas</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="user.estf.general">General</a></li>
                    <li ui-sref-active="active"><a ui-sref="user.estf.nuevo">Nueva Estufa</a></li>

                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('user.usro')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-user"></i>
                    <span>Usuarios</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="user.usro.general">General</a></li>
                    <li ui-sref-active="active"><a ui-sref="user.usro.nuevo">Nuevo Usuario</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('user.cmbs')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-money"></i>
                    <span>Combustible</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="user.cmbs.general">General</a></li>
                    <li ui-sref-active="active"><a ui-sref="user.cmbs.nuevo">Nuevo Gasto</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('user.tnda')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-star"></i> 
                    <span>Tendencias</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="user.tnda.general">General</a></li>
                    <li ui-sref-active="active"><a ui-sref="user.tnda.predictivo">Modelo Predictivo</a></li>
                </ul>
            </li>

            <li class="has-sub" ng-class="{active:$state.includes('user.tmpr')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-sun-o"></i>
                    <span>Temperatura</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="user.tmpr.general">Tabla General</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('user.gses')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-fire"></i>
                    <span>Gases</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="user.gses.general">Tabla General</a></li>

                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('user.hmda')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-cloud"></i>
                    <span>Humedad</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="user.hmda.general">Tabla General</a></li>
                </ul>
            </li>
            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->

