<!-- begin #sidebar -->
<div id="sidebar" class="sidebar" ng-controller="sidebarController" ng-class="{ 'sidebar-transparent': setting.layout.pageSidebarTransparent }">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <div class="image">
                    <a href="javascript:;"><img src="assets/img/user-12.jpg" alt="" /></a>
                </div>
                <div class="info">
                    {{usuarios[0].usro_nombre}}
                    <small>{{usuarios[0].usro_comentarios}}</small>
                </div>
            </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">Navegación</li>
            <li class="has-sub" ng-class="{active:$state.includes('app.dashboard')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Dashboard</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="user.dashboard">Dashboard Principal</a></li>
                </ul>
            </li>

            <li class="has-sub" ng-class="{active:$state.includes('app.ui')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-suitcase"></i>
                    <span>Estufas</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="user.estf.general">General</a></li>
                    <li ui-sref-active="active"><a ui-sref="user.estf.nuevo">Nueva Estufa</a></li>
                    <li ui-sref-active="active"><a ui-sref="user.estf.editar">Editar Estufa</a></li>
                    <li ui-sref-active="active"><a ui-sref="user.estf.consultar">Consultar Estufa</a></li>
                    <li ui-sref-active="active"><a ui-sref="user.estf.eliminar">Eliminar Estufa</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.form')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-user"></i>
                    <span>Usuarios</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="user.usro.general">General</a></li>
                    <li ui-sref-active="active"><a ui-sref="user.usro.nuevo">Nuevo Usuario</a></li>
                    <li ui-sref-active="active"><a ui-sref="user.usro.editar">Editar Usuario</a></li>
                    <li ui-sref-active="active"><a ui-sref="user.usro.consultar">Consultar Usuario</a></li>
                    <li ui-sref-active="active"><a ui-sref="user.usro.eliminar">Eliminar Usuario</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.table')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-th"></i>
                    <span>Historial  </span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.table.basic">Tablas Generles</a></li>
                    <li class="has-sub" ng-class="{active:$state.includes('app.table.manage')}">
                        <a href="javascript:;"><b class="caret pull-right"></b>Tablas Administradas</a>
                        <ul class="sub-menu">
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.default">Temperatura</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.autofill">Gases</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.buttons">Humedad</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.colReorder">Estufas</a></li>
                            <li ui-sref-active="active"><a ui-sref="app.table.manage.fixedColumns">Usuarios</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-star"></i> 
                    <span>Tendencias</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="../../frontend/one-page-parallax/template_content_html/index.html" target="_blank">Actual</a></li>
                    <li><a href="../../frontend/blog/template_content_html/index.html" target="_blank">Pasado</a></li>
                    <li><a href="../../frontend/forum/template_content_html/index.html" target="_blank">Futuro</a></li>
                </ul>
            </li>

            <li class="has-sub" ng-class="{active:$state.includes('app.chart')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-area-chart"></i>
                    <span>Graficos</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.chart.flot">Temperatura</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.chart.morris">Gases</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.chart.js">Humedad</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.chart.d3">Estufas</a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.chart')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-sun-o"></i>
                    <span>Temperatura</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.chart.flot">Flot Chart</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.chart.morris">Morris Chart</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.chart.js">Chart JS</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.chart.d3">d3 Chart <i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.chart')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-fire"></i>
                    <span>Gases</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.chart.flot">Flot Chart</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.chart.morris">Morris Chart</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.chart.js">Chart JS</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.chart.d3">d3 Chart <i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{active:$state.includes('app.chart')}">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-cloud"></i>
                    <span>Humedad</span>
                </a>
                <ul class="sub-menu">
                    <li ui-sref-active="active"><a ui-sref="app.chart.flot">Flot Chart</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.chart.morris">Morris Chart</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.chart.js">Chart JS</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.chart.d3">d3 Chart <i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
                </ul>
            </li>
            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->

