
<div ng-controller="indexController as chartJs">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="#/{{user[1]}}/dashboard">Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">DashBoard Principal <small>Sistema de Monitoreo SECCE</small></h1>
    <!-- end page-header -->
    <div class="row">
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-green">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
                <div class="stats-title">ESTUFAS MONITOREADAS</div>
                <div class="stats-number">{{estufa[0].total}}</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 70.1%;"></div>
                </div>
                <div class="stats-desc">Contador Completo</div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-tags fa-fw"></i></div>
                <div class="stats-title">COMBUSTIBLE LEÑA CONSUMIDA</div>
                <div class="stats-number">$ {{combustible[0].total}}</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 40.5%;"></div>
                </div>
                <div class="stats-desc">Diferencia en Dias ({{combustible[0].diff}})</div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-purple">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-shopping-cart fa-fw"></i></div>
                <div class="stats-title">CONSUMO TOTAL</div>
                <div class="stats-number">{{consumo[0].consumo}} Kcal</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 76.3%;"></div>
                </div>
                <div class="stats-desc">Por leña tipo  : {{consumo[0].cmbs_tipo}}</div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-black-lighter">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-comments fa-fw"></i></div>
                <div class="stats-title">ESTUFAS EN MANTENCION</div>
                <div class="stats-number">{{error[0].error}} </div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 54.9%;"></div>
                </div>
                <div class="stats-desc">Mas Info en Apartado Mantención</div>
            </div>
        </div>
        <!-- end col-3 -->
    </div>
    <!-- begin row -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-inverse bg-black-darker" data-sortable-id="chart-js-1">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">Emisión de Nox </h4>
                </div>
                <div class="panel-body">
                    <p>
                        Grafico con las 9 estufas mas Contaminantes en gases NOX
                    </p>
                    <div>
                        <canvas chart="Line" options="chartJs.chartOptions" data="chartJs.lineChartData"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-inverse bg-black-darker" data-sortable-id="chart-js-2">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">Emisión de CO2</h4>
                </div>
                <div class="panel-body">
                    <p>
                        Datos Tomados en base al año 2015
                        De un Total de {{gasessum[0].total}} gramos
                    </p>
                    <div>
                        <canvas chart="Bar" options="chartJs.chartOptions" data="chartJs.barChartData"></canvas>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>