
<div ng-controller="indexController as chartJs">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="#/{{user[1]}}/dashboard">Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">DashBoard Principal <small>Sistema de Monitoreo SECCE</small></h1>
    <!-- end page-header -->
    <div class="row">
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-green">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
                <div class="stats-title">ESTUFAS MONITOREADAS</div>
                <div class="stats-number">{{estufa[0].total}}</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 70.1%;"></div>
                </div>
                <div class="stats-desc">Contador Completo</div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-tags fa-fw"></i></div>
                <div class="stats-title">COMBUSTIBLE LEÑA CONSUMIDA</div>
                <div class="stats-number">$ {{combustible[0].total}}</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 40.5%;"></div>
                </div>
                <div class="stats-desc">Diferencia en Dias ({{combustible[0].diff}})</div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-purple">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-shopping-cart fa-fw"></i></div>
                <div class="stats-title">CONSUMO TOTAL</div>
                <div class="stats-number">{{consumo[0].consumo}} Kcal</div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 76.3%;"></div>
                </div>
                <div class="stats-desc">Por leña tipo  : {{consumo[0].cmbs_tipo}}</div>
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-black-lighter">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-comments fa-fw"></i></div>
                <div class="stats-title">ESTUFAS EN MANTENCION</div>
                <div class="stats-number">{{error[0].error}} </div>
                <div class="stats-progress progress">
                    <div class="progress-bar" style="width: 54.9%;"></div>
                </div>
                <div class="stats-desc">Mas Info en Apartado Mantención</div>
            </div>
        </div>
        <!-- end col-3 -->
    </div>
    <!-- begin row -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-inverse bg-black-darker" data-sortable-id="chart-js-1">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">Emisión de Nox </h4>
                </div>
                <div class="panel-body">
                    <p>
                        Grafico con las 9 estufas mas Contaminantes en gases NOX
                    </p>
                    <div>
                        <canvas chart="Line" options="chartJs.chartOptions" data="chartJs.lineChartData"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-inverse bg-black-darker" data-sortable-id="chart-js-2">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">Emisión de CO2</h4>
                </div>
                <div class="panel-body">
                    <p>
                        Datos Tomados en base los ultimos 12 meses
                        De un Total de {{gasessum[0].total}} gramos
                    </p>
                    <div>
                        <canvas chart="Bar" options="chartJs.chartOptions" data="chartJs.barChartData"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- se coloca tabla-->
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-inverse bg-aqua-lighter" data-sortable-id="table-basic-1">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">Tabla Calidad del Aire</h4>
                </div>
                <div class="panel-body">
                    <p>CO2 PPM : 0-50<p>
                    <p><span class="label label-success">Success</span> 50-100 <span class="label label-warning">Moderate</span> 100-200 <span class="label label-danger">Danger</span></p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Estufa</th>
                            <th>Promedio Calidad del aire</th>
                            <th>Estado</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat = 'gas in gases'>
                            <td>{{gas.estf_id}}</td>
                            <td>{{gas.promedio}}</td>
                            <td><span class="label label-warning">Moderate</span></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-inverse bg-aqua-lighter" data-sortable-id="flot-chart-5">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">Uso de Combustibles</h4>
                </div>
                <div class="panel-body">
                    <p>
                        Datos tomados en base a todas las estufas registradas
                    </p>
                    <div>
                        <canvas chart="Pie" options="chartJs.chartOptions" data="chartJs.pieChartData"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-danger" data-sortable-id="ui-widget-16">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">Panel de Errores</h4>
                </div>
                <div class="panel-body bg-red text-white">
                    <p>[INFO][Marzo 23, 19:09:01] Actualmente existen 3 estufas con Error en funcionamiento</p>
                    <p>[ERROR][Marzo 22, 12:12:11] Error en la Estufa 11 por desconexion sensor de humedad</p>
                    <p>[ERROR][Marzo 22, 09:01:03] Falla en el envio de datos de la Estufa 1</p>

                </div>
            </div>
            <div class="panel panel-info" data-sortable-id="ui-widget-16">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">Informacion de Ultima Hora</h4>
                </div>
                <div class="panel-body bg-aqua text-white">
                    <p>[Marzo 29, 19:59:59] Ultima estufa creada es la Nº199 el dia 12 de diciembre del 2015</p>
                    <p>[Marzo 29, 19:12:08] El usuario Admin es el usuario con mayor ingreso al Sistema</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-warning" data-sortable-id="ui-widget-16">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">Mantenciones</h4>
                </div>
                <div class="panel-body bg-orange text-white">
                    <p>[Alerta][Marzo 28, 12:00:01] Mantencion Programada Automaticamente para la estufa 5</p>
                    <p>[INFO][Marzo 28,11:09:12] Mantencion Estufa 4 Finalizada</p>
                    <p>[INFO][Marzo,27, 00:00:01] No Existen mantenciones Programadas</p>
                </div>
            </div>
            <div class="panel panel-success" data-sortable-id="ui-widget-16">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">Emisiones Contaminantes</h4>
                </div>
                <div class="panel-body bg-green text-white">
                    <p>[INFO][Marzo 29,00:00:01] FIN Cuenta de emisiones = 9823gr de CO2</p>
                    <p>[SUGERENCIA][Marzo 29,23:59:57] Revisar habitacion de la estufa 3 por fugas calor</p>
                </div>
            </div>
        </div>
    </div>
</div>