
<div ng-controller="tndaController as chartJs">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="#/{{user[1]}}/dashboard">Home</a></li>
        <li class="active">Tendencias</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Modelos de Tendencia <small>Sistema de Monitoreo SECCE</small></h1>
    <!-- end page-header -->

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-inverse bg-black-darker" data-sortable-id="chart-js-1">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">Temperatura </h4>
                </div>
                <div class="panel-body">
                    <p>
                        Grafico tendencia Tº Habitacion
                    </p>
                    <div>
                        <canvas chart="Line" options="chartJs.chartOptions" data="chartJs.lineChartData"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-inverse bg-black-darker" data-sortable-id="chart-js-2">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">Tendencia con diferentes Valores</h4>
                </div>
                <div class="panel-body">
                    <p>
                        Datos Tomados en base al año 2015
                        De un Total de {{gasessum[0].total}} gramos
                    </p>
                    <div>
                        <canvas chart="Bar" options="chartJs.chartOptions" data="chartJs.barChartData"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>